<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Id</key>
		<string>001</string>
		<key>cityName</key>
		<string>German</string>
		<key>cars</key>
		<array>
			<dict>
				<key>name</key>
				<string>BMW</string>
				<key>Id</key>
				<string>001_a</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Audi</string>
				<key>Id</key>
				<string>001_b</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Volkswagen</string>
				<key>Id</key>
				<string>001_c</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Volvo</string>
				<key>Id</key>
				<string>001_d</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Mercedes</string>
				<key>Id</key>
				<string>001_e</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Id</key>
		<string>002</string>
		<key>cityName</key>
		<string>American</string>
		<key>cars</key>
		<array>
			<dict>
				<key>name</key>
				<string>Ford</string>
				<key>Id</key>
				<string>002_a</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Dodge</string>
				<key>Id</key>
				<string>002_b</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Chrysler</string>
				<key>Id</key>
				<string>002_c</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Cadililac</string>
				<key>Id</key>
				<string>002_d</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Id</key>
		<string>003</string>
		<key>cityName</key>
		<string>Japenese</string>
		<key>cars</key>
		<array>
			<dict>
				<key>name</key>
				<string>Toyota</string>
				<key>Id</key>
				<string>003_a</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Nissian</string>
				<key>Id</key>
				<string>003_b</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Mazda</string>
				<key>Id</key>
				<string>003_c</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Lexus</string>
				<key>Id</key>
				<string>003_d</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Honda</string>
				<key>Id</key>
				<string>003_e</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
