<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Content</key>
	<string>查询成功</string>
	<key>Data</key>
	<array>
		<dict>
			<key>ChilrdCollection</key>
			<array>
				<dict>
					<key>ChilrdCollection</key>
					<array>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500101</integer>
							<key>NodeName</key>
							<string>万州区</string>
							<key>NodeValue</key>
							<integer>500101</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500102</integer>
							<key>NodeName</key>
							<string>涪陵区</string>
							<key>NodeValue</key>
							<integer>500102</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500103</integer>
							<key>NodeName</key>
							<string>渝中区</string>
							<key>NodeValue</key>
							<integer>500103</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500104</integer>
							<key>NodeName</key>
							<string>大渡口区</string>
							<key>NodeValue</key>
							<integer>500104</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500105</integer>
							<key>NodeName</key>
							<string>江北区</string>
							<key>NodeValue</key>
							<integer>500105</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500106</integer>
							<key>NodeName</key>
							<string>沙坪坝区</string>
							<key>NodeValue</key>
							<integer>500106</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500107</integer>
							<key>NodeName</key>
							<string>九龙坡区</string>
							<key>NodeValue</key>
							<integer>500107</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500108</integer>
							<key>NodeName</key>
							<string>南岸区</string>
							<key>NodeValue</key>
							<integer>500108</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500109</integer>
							<key>NodeName</key>
							<string>北碚区</string>
							<key>NodeValue</key>
							<integer>500109</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500110</integer>
							<key>NodeName</key>
							<string>綦江区</string>
							<key>NodeValue</key>
							<integer>500110</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500111</integer>
							<key>NodeName</key>
							<string>大足区</string>
							<key>NodeValue</key>
							<integer>500111</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500112</integer>
							<key>NodeName</key>
							<string>渝北区</string>
							<key>NodeValue</key>
							<integer>500112</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500113</integer>
							<key>NodeName</key>
							<string>巴南区</string>
							<key>NodeValue</key>
							<integer>500113</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500114</integer>
							<key>NodeName</key>
							<string>黔江区</string>
							<key>NodeValue</key>
							<integer>500114</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500115</integer>
							<key>NodeName</key>
							<string>长寿区</string>
							<key>NodeValue</key>
							<integer>500115</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500116</integer>
							<key>NodeName</key>
							<string>江津区</string>
							<key>NodeValue</key>
							<integer>500116</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500117</integer>
							<key>NodeName</key>
							<string>合川区</string>
							<key>NodeValue</key>
							<integer>500117</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500118</integer>
							<key>NodeName</key>
							<string>永川区</string>
							<key>NodeValue</key>
							<integer>500118</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500119</integer>
							<key>NodeName</key>
							<string>南川区</string>
							<key>NodeValue</key>
							<integer>500119</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500120</integer>
							<key>NodeName</key>
							<string>璧山区</string>
							<key>NodeValue</key>
							<integer>500120</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500151</integer>
							<key>NodeName</key>
							<string>铜梁区</string>
							<key>NodeValue</key>
							<integer>500151</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500152</integer>
							<key>NodeName</key>
							<string>潼南区</string>
							<key>NodeValue</key>
							<integer>500152</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500153</integer>
							<key>NodeName</key>
							<string>荣昌区</string>
							<key>NodeValue</key>
							<integer>500153</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500228</integer>
							<key>NodeName</key>
							<string>梁平县</string>
							<key>NodeValue</key>
							<integer>500228</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500229</integer>
							<key>NodeName</key>
							<string>城口县</string>
							<key>NodeValue</key>
							<integer>500229</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500230</integer>
							<key>NodeName</key>
							<string>丰都县</string>
							<key>NodeValue</key>
							<integer>500230</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500231</integer>
							<key>NodeName</key>
							<string>垫江县</string>
							<key>NodeValue</key>
							<integer>500231</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500232</integer>
							<key>NodeName</key>
							<string>武隆县</string>
							<key>NodeValue</key>
							<integer>500232</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500233</integer>
							<key>NodeName</key>
							<string>忠县</string>
							<key>NodeValue</key>
							<integer>500233</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500234</integer>
							<key>NodeName</key>
							<string>开县</string>
							<key>NodeValue</key>
							<integer>500234</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500235</integer>
							<key>NodeName</key>
							<string>云阳县</string>
							<key>NodeValue</key>
							<integer>500235</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500236</integer>
							<key>NodeName</key>
							<string>奉节县</string>
							<key>NodeValue</key>
							<integer>500236</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500237</integer>
							<key>NodeName</key>
							<string>巫山县</string>
							<key>NodeValue</key>
							<integer>500237</integer>
							<key>Properties</key>
							<string></string>
						</dict>
						<dict>
							<key>ChilrdCollection</key>
							<array/>
							<key>NodeId</key>
							<integer>500238</integer>
							<key>NodeName</key>
							<string>巫溪县</string>
							<key>NodeValue</key>
							<integer>500238</integer>
							<key>Properties</key>
							<string></string>
						</dict>
					</array>
					<key>NodeId</key>
					<integer>500100</integer>
					<key>NodeName</key>
					<string>重庆市</string>
					<key>NodeValue</key>
					<integer>500100</integer>
					<key>Properties</key>
					<string></string>
				</dict>
			</array>
			<key>NodeId</key>
			<integer>500000</integer>
			<key>NodeName</key>
			<string>重庆市</string>
			<key>NodeValue</key>
			<integer>500000</integer>
			<key>Properties</key>
			<string></string>
		</dict>
	</array>
	<key>Type</key>
	<string>Success</string>
</dict>
</plist>
