<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>001</string>
		<key>Name</key>
		<string>iPhone4</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>002</string>
		<key>Name</key>
		<string>iPhone4s</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>003</string>
		<key>Name</key>
		<string>iPhone5</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>005</string>
		<key>Name</key>
		<string>iPhone5s</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>006</string>
		<key>Name</key>
		<string>iPhone5c</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>007</string>
		<key>Name</key>
		<string>iPhone6</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>008</string>
		<key>Name</key>
		<string>iPhone6Plus</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>009</string>
		<key>Name</key>
		<string>iPhone6Plus</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>010</string>
		<key>Name</key>
		<string>iPhone6sPlus</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>011</string>
		<key>Name</key>
		<string>iPhone7</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>012</string>
		<key>Name</key>
		<string>iPhone7Plus</string>
	</dict>
</array>
</plist>
